@import url(https://db.onlinewebfonts.com/c/4ff6f056f9052b835e33438a16ed81d4?family=Recepts+NF+W01+Regular);

:root {
  --base300-dark: rgba(105, 105, 105, 1);
  --text-sm-font-medium-font-family: "SpaceGrotesk-Medium", Helvetica;
  --text-sm-font-medium-font-weight: 500;
  --text-sm-font-medium-font-size: 14px;
  --text-sm-font-medium-letter-spacing: 0px;
  --text-sm-font-medium-line-height: 20px;
  --text-sm-font-medium-font-style: normal;
}

.onboarding {
  position: relative;
  background-color: var(--base-900-light);
  width: 100%;
  height: 100vh;
  text-align: left;
  font-size: var(--text-base-font-medium-size);
  color: var(--base-900-dark);
  font-family: var(--text-sm-font-medium);
}

.already-have-an-container span {
  color: #b7b7b7;
  font-size: 16px;
  font-family: var(--text-sm-font-medium-font-family);
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.already-have-an-container b {
  color: #fefefe;
  font-size: 16px;
  font-family: var(--text-sm-font-medium-font-family);
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.frame {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.frame .logo {
  position: relative;
  height: 25px;
  margin-right: 10px;
}

.frame .logo-div {
  color: #fefefe;
  font-size: 13.07px;
  font-family: "Recepts NF W01 Regular";
  font-weight: 400;
  line-height: 18.3px;
  word-wrap: break-word;
}

.frame .navbar {
  display: inline-flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  background: linear-gradient(
    180deg,
    rgb(251, 218, 97) 0%,
    rgba(255, 90, 205, 0.84) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: var(--text-sm-font-medium-font-family);
  font-weight: var(--text-sm-font-medium-font-weight);
  color: transparent;
  font-size: var(--text-sm-font-medium-font-size);
  letter-spacing: var(--text-sm-font-medium-letter-spacing);
  line-height: var(--text-sm-font-medium-line-height);
  white-space: nowrap;
  font-style: var(--text-sm-font-medium-font-style);
}

.frame .div {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-sm-font-medium-font-family);
  font-weight: var(--text-sm-font-medium-font-weight);
  color: var(--base300-dark);
  font-size: var(--text-sm-font-medium-font-size);
  letter-spacing: var(--text-sm-font-medium-letter-spacing);
  line-height: var(--text-sm-font-medium-line-height);
  white-space: nowrap;
  font-style: var(--text-sm-font-medium-font-style);
}

.frame .get-started {
  color: #fefefe;
  font-size: 36px;
  font-family: var(--text-sm-font-medium-font-family);
  font-weight: 700;
  line-height: 52px;
  word-wrap: break-word;
  margin-top: 25px;
}

.privacy-policy-parent {
  display: flex;
  position: absolute;
  bottom: 25px;
}

.privacy-policy-parent .privacy-policy {
  color: #b7b7b7;
  font-size: 16px;
  font-family: var(--text-sm-font-medium-font-family);
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  margin-right: 15px;
}
